$unchecked-color: yellow;

$checked-color: grey;

$btn-game-size: 24vmin;

$btn-game-max-size: 170px;

$btn-game-border: 2px solid green;

$btn-game-font-size: 4rem;

$btn-game-font-family: cursive;

$btn-game-cursor: pointer;
